/.idea/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn*
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/movie-catalog-service/mvnw
/movie-info-service/movie-info-service.iml
/movie-info-service/mvnw
/movie-info-service/mvnw.cmd
/ratings-data-service/mvnw
/ratings-data-service/mvnw.cmd
/movie-catalog-service/mvnw.cmd
